@font-face {
    font-family: nokia;
    src: url("/assets/nokia_cellphone/nokiafc22.ttf");
}

* {
    font-family: nokia;
    image-rendering: pixelated;
}

#cutting-board {
    width: min(80%, 80vh * 463 / 279);
    margin: 2.5% auto 2.5% auto;
    aspect-ratio: calc(463 / 279);
}

#cutting-board * {
    font-size: 4vh;
}

#cutting-board-input {
    margin: 0% 18% 0% 5%;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

* {
  cursor: url("/assets/Sprite-Knife_Cursor.gif"), default;
}

*:active {
    cursor: url("/assets/Sprite-Knife_Cursorv2.png"), default;
}
