@font-face {
    font-family: nokia;
    src: url("/assets/nokia_cellphone/nokiafc22.ttf");
}
* {
    font-family: nokia;
}
#cutting-board {
    background-color: #7f6453;
    height: 80vh;
    width: 80%;
    margin: auto;
}
#cutting-board-input {
    background-color: transparent;
    height: 99%;
    width: 99%;
    margin: auto;
}